@import 'tailwindcss';

.bgnav {
  background-color: rgb(37 37 37 / 65%);
}

.bgbtn {
  background-color: hsla(0, 0%, 100%, 0.2);
}
.animate-slideFade {
  animation: slideFade 2s ease-out forwards;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.7s ease forwards;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}

.animation-delay-700 {
  animation-delay: 0.7s;
}

/* @font-face {
  font-family: opneAISemiBold;
  src: url(../public/fonts/OpenSans-SemiBold.ttf);
} */

/* @font-face {
  font-family: opneAIRegular;
  src: url(../public/fonts/OpenSans-Regular.ttf);
} */
@font-face {
  font-family: opneAIMedium;
  src: url(../public/fonts/OpenSans-Medium.ttf);
}
/* @font-face {
  font-family: opneAIBold;
  src: url(../public/fonts/OpenSans-Bold.ttf);
}




@font-face {
  font-family: opneAIExtraBold;
  src: url(../public/fonts/OpenSans-ExtraBold.ttf);
} */
